@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&family=Poppins:wght@200;400;500&display=swap');

body{
    background-color: rgb(143, 153, 172);
    height: 100vh;
    margin: 0;
    font-family: 'Inconsolata', monospace;
    & h1{
        margin: auto;
        width: max-content;
        margin-top: 60px;
        font-size: 4rem;
    }
    & #choose {
        display: flex;
        justify-content: center;
        & label{
            margin-top: 35px;
            font-size: 2rem;
        }
        & select, button{
            height: 35px;
            align-self: self-end;
            border-radius: 10px;
            border: rgba(255, 255, 255, 0);
        }
        & select{
            background-color: aliceblue;
        }
        & button{
        background-color: azure;
        }
    }
}